COSMOSDB_ENDPOINT=https://your-account.documents.azure.com:443/
COSMOSDB_KEY=your-primary-key-here
COSMOSDB_DATABASE_NAME=your-database-name
COSMOSDB_USER_CONTAINER_NAME=users

PRIVATE_TOKEN_KEY=''
PUBLIC_TOKEN_KEY=''
TOKEN_ALGORITHM=RSA256
TOKEN_EXPIRATION_MINUTES=30