COSMOSDB_ENDPOINT=https://your-account.documents.azure.com:443/
COSMOSDB_KEY=your-primary-key-here
COSMOSDB_DATABASE_NAME=your-database-name
COSMOSDB_USERS_CONTAINER_NAME=users

# External URL (Swagger, browser), doesn't quite work yet
AUTH_SERVICE_EXTERNAL_URL=http://localhost/auth

# Internal URL (Docker network)
AUTH_SERVICE_INTERNAL_URL=http://auth-service:8000/auth
INTERSERVICE_KEY=''

PRIVATE_TOKEN_KEY=token_private_key.pem
PUBLIC_TOKEN_KEY=token_public_key.pem
TOKEN_ALGORITHM=RSA256
TOKEN_EXPIRATION_MINUTES=30
